@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-1 {
  position: fixed;
  z-index: 70 !important;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(23, 23, 23, 0.05);
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition:
    transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.3s ease-in-out;
}
.modal-content {
  background: linear-gradient(135deg, #ffffff);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 5% auto;
  border: 1px solid #dcdcdc;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 60 !important;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s;
}

.modal-backdrop.show {
  opacity: 1;
  visibility: visible;
}
